#header {
    background-image: url(river.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}

.navbar {
    position: sticky;
}

.display-1 {
    color: rgb(4, 48, 75);
    font-weight: 700;
}

.row {
    margin-top: 1rem;
    font-size: 23px;
}

.personal-img {
    border-radius: 7%;
    transform: scale(1.1);
}

.card {
    transition: 0.4s;
}

.card:hover {
    transform: scale(1.03);
}

.contact-info {
    margin-top: 20px;
}

body {
    margin-bottom: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.arrow {
    width: 100%;
    max-height: 100px;
    transform: scale(0.1);
    margin-bottom: 100px;
}

.card {
    border: none;
}
  
.container .image {
    width: 50%;
    height: 50%;
    object-fit: cover;
}
  
.container img {
    width: calc(100% - (20px * 2));
    margin: 5px;
}

.skills-header-text {
    text-align: center;
}

.skill{
    width: 130px;
    height: 130px;
    border-radius: 10%;
    padding: 1%;
    transition: 0.4s;
}

.python-skill { background-color: rgba(202, 227, 255, 0.6); }
.javascript-skill { background-color: rgb(255, 254, 176); }
.c-skill { background-color: rgba(81, 162, 255, 0.6); }
.typescript-skill { background-color: rgba(146, 208, 255, 0.5); }
.java-skill { background-color: rgba(255, 252, 202, 0.9); }
.node-skill { background-color: rgba(210, 255, 202, 0.6); }
.html-skill { background-color: rgba(240, 128, 128, 0.545); }
.css-skill { background-color: rgb(210, 239, 250); }
.jquery-skill { background-color: rgba(176, 196, 222, 0.545); }
.bootstrap-skill { background-color: rgba(237, 146, 255, 0.5);}
.npm-skill { background-color: rgba(255, 146, 146, 0.25);}
.git-skill { background-color: rgba(255, 230, 202, 0.6); }


.skill:hover {
    transform: scale(1.1);
}

.logo-container {
    /* height: 65px; */
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.expierience-header-text {
    text-align: center;
    margin-top: 100px;
}

.exp-card {
    /* border: 1px solid darkslategray; */
    box-shadow: 4px 4px 7px 2px rgba(0, 0, 0, 0.6);
    justify-content: center;
}

.co-op-img {
    max-height: 130px;
    object-fit: cover;
    /* border: 1px solid darkslategray; */
}

.div-center-image {
    display: flex;
    justify-content: center;
}

.co-op-text { 
    font-size: 15px;
}