body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#header {
    position: relative;
    background-image: url(Images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

#footer {
    text-align: center;
    margin-bottom: 1%;
}

.navbar {
    background-color: #1a1a1a;
    position: sticky;
}

.title {
    color: #102958;
    font-weight: 600;
}

.row {
    margin-top: 1rem;
    font-size: 23px;
    padding-left: 3%;
    padding-right: 3%;
}

.personal-img {
    border-radius: 7%;
    transform: scale(1.1);
    border: 1px solid rgb(34, 34, 34);
}

.card {
    border: none;
    transition: 0.4s;
}

.card:hover {
    transform: scale(1.03);
}

section {
    margin-bottom: 10%;
}

.container img {
    width: calc(100% - (20px * 2));
    margin: 5px;
}

.arrow {
    width: 100%;
    max-height: 100px;
    transform: scale(0.1);
    margin-bottom: 100px;
}

.header-text {
    text-align: center;
}

.div-center-image {
    display: flex;
    justify-content: center;
}



/* ||||||||||||||||||||||||||| */
/* || Skills Section Styles || */
/* ||||||||||||||||||||||||||| */



.skill {
    width: 130px;
    height: 130px;
    border-radius: 10%;
    padding: 1%;
    transition: 0.4s;
}

.skill:hover {
    transform: scale(1.1);
}

.python-skill { background-color: rgba(202, 227, 255, 0.6); }
.javascript-skill { background-color: rgb(255, 254, 176); }
.c-skill { background-color: rgba(81, 162, 255, 0.6); }
.typescript-skill { background-color: rgba(146, 208, 255, 0.5); }
.java-skill { background-color: rgba(255, 252, 202, 0.9); }
.node-skill { background-color: rgba(210, 255, 202, 0.6); }
.html-skill { background-color: rgba(240, 128, 128, 0.545); }
.css-skill { background-color: rgb(210, 239, 250); }
.jquery-skill { background-color: rgba(176, 196, 222, 0.545); }
.bootstrap-skill { background-color: rgba(237, 146, 255, 0.5);}
.sql-skill { background-color: rgba(255, 146, 146, 0.25);}
.git-skill { background-color: rgba(255, 230, 202, 0.6); }

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}



/* |||||||||||||||||||||||||||||||| */
/* || Expierience Section Styles || */
/* |||||||||||||||||||||||||||||||| */



.expierience-header-text {
    text-align: center;
    margin-top: 100px;
}

.exp-card {
    box-shadow: 4px 4px 7px 2px rgba(0, 0, 0, 0.6);
    justify-content: center;
    height: 500px;
}

.exp-img {
    height: 130px;
    object-fit: cover;
    border-radius: 5%;
}

.exp-text {
    font-size: 15px;
}



/* |||||||||||||||||||||||||||| */
/* || Project Section Styles || */
/* |||||||||||||||||||||||||||| */



.project-header-text {
    text-align: center;
    margin-top: 100px;
}

.project-card {
    border-radius: 10%;
}

.trails-background { background-image: url(Images/CardImgs/trails.png); }
.news-background { background-image: url(Images/CardImgs/newspaper.png); }
.pathfinder-background { background-image: url(Images/CardImgs/pathfinder.png); }
.sudoku-background { background-image: url(Images/CardImgs/sudoku.jpg); }
.spaceship-background { background-image: url(Images/CardImgs/spaceship.jpg); }
.portfolio-background { background-image: url(Images/CardImgs/portfolio.png); }


/* |||||||||||||||||| */
/* || Project Fade || */
/* |||||||||||||||||| */

.my-project-card {
    border: 1px solid rgb(34, 34, 34);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.5;
}

.my-project-card:hover:after {
    opacity: 0.8;
}

.my-project-card-2:hover:after {
    opacity: 0.8;
}

.project-text-body {
    height: 370px;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0.88);
    color: white;
    opacity: 0;
    transition: 0.5s;
}

.project-text-body:hover {
    opacity: 1;
}

.project-title {
    border-radius: 5%;
    position: absolute;
    font-weight: 700;
    color: white;
    font-size: 30px;
    bottom: 320px;
    left: 20px;
}
